body{
    font-family: 'Comic Neue', cursive;
    background-color: #1c1c1c;
    color: rgb(255, 253, 133);
    font-size: 25px;
    border: 5px solid;
    padding: 5px;
    text-align:center;
}

h1{
    color: bisque;
}

#img_dado{
    background-color: #1c1c1c;
}

#lista{
    text-align:left
}