body{
    font-family: 'Comic Neue', cursive;
    background-color: #1c1c1c;
    color: rgb(255, 253, 133);
    font-size: 25px;
}

h1{
    color: bisque;
}

p{
    text-align:center;
}

#introducao{
    font-size: 30px;
    color: rgb(250, 247, 92);
}

#img_dado{
    background-color: #1c1c1c;
}